div.jumbotron {
    text-align: center;
    background-color: yellow;
    background-image: url("../images/solo.webp");
}
body {
    background-color: #9ce7e6;
}
div.hiddenbody {
    display: none;
}
button.btn-warning {
    display: none;
}
span.timerplaceholder {
    font-size: 24px;
    font-weight: bold;
    color: aliceblue;
    background-color: #3c2f88;
}
#p1 {
    background-color: #3c2f88;   
    color: #3c2f88;
    
    padding: 1%;
    
    margin: 2% 0% 0%;
}
#p2 {
    background-color: #776ead;
    color: #776ead;

}
#p3 {
    background-color: #279fbd;
    color: #279fbd;
}